
@use 'variables' as *;


.task:hover {
    border: 2px solid $task_color;
}



.make_bigger:hover{
    font-size:  x-large;
}

#logo {
    width: 150px;
    height: auto;
    animation: scaleUp 2s ease-in-out forwards;
  }
  
  /* Animación del logo */
  @keyframes scaleUp {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    50% {
      transform: scale(1.3);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }