
$navbar_color: #0a2066;
$a_color: aliceblue;
$li_colors: (#D1D5DB, #93C5FD, #9aa6ca);
$button_bg: #9aa6ca;
$button_text: whitesmoke;
$shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
$bg_image: '/images/code.avif';
$task_color: #9aa6ca;


$grid-breakpoints: (
    xs: 575px
)